body {
  width: 995px;
  margin-left: auto;
  margin-right: auto;
}
img {
    width:100% ;
}   
#bildeTo {
    width: 50%;
}
h5 {
    column-count: 3;
}
.stor {
  font-size: 24px;
}
.grønnSub{
    color: rgba(0, 128, 58, 0.842);
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.svartSub{
    color: black;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.storStartBokstav{
    color: rgba(0, 128, 58, 0.842);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
/* master cooking columns */
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    margin-left: -15px;
    padding: 15px;
    height: 200px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
 
  .left {
    width: 33.33%;
  }
  
  .right {
    width: 66.66%;
  }

  .sitat {
    font-size: 28px;
  }
 .columnto {
    margin-top: -20px;
 }
 .columntre {
    margin-top: -70px;
 }
 .columnfire {
    margin-top: -100px;
 }
 .master {
    margin-bottom: -10px;
 }
 .space {
    margin-top: -100px;
    margin-bottom: -1px;
    font-size: 50px;
 }
 .columnfem {
    margin-top: -40px;
 }
 .columntret {
  margin-top: -40px;
 }
 .columntrete {
  margin-top: -20px;
 }
 .columnfir {
  margin-top: 60px;
 }
 .columnti {
  margin-top: -120px;
 }
 .caption {
  margin-top: 0px;
 }
 .columntolv {
  margin-top: -20px;
 }
 .columnelve {
  margin-top: 20px;
 }