body {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
img {
    width:100% ;
}   
#bildeTo {
    width: 50%;
}
h1 {
    color: green;
}
h5 {
    column-count: 3;

}

.grønnSub{
    color: rgba(0, 128, 58, 0.842);
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.svartSub{
    color: black;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.storStartBokstav{
    color: rgba(0, 128, 58, 0.842);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
/* master cooking columns */
* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 150px; /* Should be removed. Only for demonstration */
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
